@font-face{
    font-family: FuenteTittle;
    src: url("birica.otf");
  }

  @font-face{
    font-family: FuenteText;
  src: url("umunu.otf");
  }
  
  @font-face{
    font-family: FuenteNav;
  src: url("pagnua.otf");
  }
  


body{
    background-color: #F2E8DF ;
 }
 
.encabezado{
    background-color: white;
    font-size: 19px;
  }

.nav-link{
    color: black; 
   }

.arreglar{
    margin: 2%;
    background-color: white;
    width: 45%;
    float: left;
    display: inline;
    border-style: solid;
}

.arreglar2{
    margin: 2%;
    background-color: white;
    width: 45%;
    float: right;
    display: inline;
    border-style: solid;
}

h1{
    font-weight: bold ;
    font-family: FuenteTittle;
}

.card-text{
    margin-right: 2cm ;
    margin-left: 2cm;
    font-size: 19px;
    font-family: FuenteText;
    text-align: justify;
}

ul{
  margin-right: 2cm ;
  margin-left: 2cm;
  font-size: 22px;
  font-family: FuenteText;
  text-align: justify;
}

.tarjetitu{
    text-align: center;
    margin-right: 5cm ;
    margin-left: 5cm;
    font-family: FuenteTittle; 
}