@font-face{
    font-family: FuenteTittle;
    src: url("birica.otf");
  }

  @font-face{
    font-family: FuenteText;
  src: url("umunu.otf");
  }
  
  @font-face{
    font-family: FuenteNav;
  src: url("pagnua.otf");
  }
  


body{
    background-color: #F2E8DF ;
 }
 
.encabezado{
    background-color: white;
    font-size: 19px;
    margin-bottom: 20px;
  }

.nav-link{
    color: black;
}

.Fila{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding-bottom: 30px;

}

.Foto{
    background-color: white;
    width: 500px;
    border-style: solid;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    font-weight: bold ;
    font-family: FuenteTittle;
    padding-bottom: 10px;
}

.card-text{
    margin-right: 2cm ;
    margin-left: 2cm;
    font-size: 19px;
    font-family: FuenteText;
    text-align: justify;
}

ul{
  margin-right: 2cm ;
  margin-left: 2cm;
  font-size: 22px;
  font-family: FuenteText;
  text-align: justify;
}

.tarjetitu{
    font-family: FuenteTittle;
}

#Direc{
  Margin-bottom: 10px;
}