@font-face{
  font-family: FuenteTittle;
  src: url("../tipografias/birica.otf");
}

@font-face{
  font-family: FuenteText;
src: url("../tipografias/umunu.otf");
}

@font-face{
  font-family: FuenteNav;
src: url("../tipografias/pagnua.otf");
}


h1{
    font-weight: bold ;
    font-family: FuenteTittle;
}

p{
    margin-right: 5cm ;
    margin-left: 5cm;
    font-size: 19px;
    font-family: FuenteText;
    text-align: center;
}

body{
   background-color: #F2E8DF ;
}

.nav-link{
 color: black;
  
}

.encabezado{
    background-color: white;
    font-size: 19px;
  }